In [2]:
import pandas as pd

orders = pd.read_csv("olist_orders_dataset.csv")
customers = pd.read_csv("olist_customers_dataset.csv")
items = pd.read_csv("olist_order_items_dataset.csv")
payments = pd.read_csv("olist_order_payments_dataset.csv")
reviews = pd.read_csv("olist_order_reviews_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
sellers = pd.read_csv("olist_sellers_dataset.csv")
# geo = pd.read_csv("olist_geolocation_dataset.csv")
opp = pd.read_csv("opp_and_acount_info.csv")

# PHASE 1

In [3]:
# %pip install matplotlib seaborn

In [4]:
# Import required libraries 

import pandas as pd      # For data manipulation (DataFrames)
import numpy as np       # For numerical operations
import matplotlib.pyplot as plt   # For plotting graphs
import seaborn as sns    # For advanced visualizations

print("Libraries loaded successfully")

Libraries loaded successfully

In [5]:
# Loading all Olist datasets 

orders = pd.read_csv("olist_orders_dataset.csv")          # Main orders table
customers = pd.read_csv("olist_customers_dataset.csv")    # Customer information
items = pd.read_csv("olist_order_items_dataset.csv")      # Order item details
payments = pd.read_csv("olist_order_payments_dataset.csv")# Payment details
reviews = pd.read_csv("olist_order_reviews_dataset.csv")  # Customer reviews
products = pd.read_csv("olist_products_dataset.csv")      # Product details
sellers = pd.read_csv("olist_sellers_dataset.csv")        # Seller information
opp = pd.read_csv("opp_and_acount_info.csv")              # Business / opportunity data

print("All datasets loaded successfully")

All datasets loaded successfully

In [6]:


print("Orders:", orders.shape)
print("Customers:", customers.shape)
print("Items:", items.shape)
print("Payments:", payments.shape)
print("Reviews:", reviews.shape)
print("Products:", products.shape)
print("Sellers:", sellers.shape)
print("Opp:", opp.shape)

Orders: (99441, 8)
Customers: (99441, 5)
Items: (112650, 7)
Payments: (103886, 5)
Reviews: (99224, 7)
Products: (32951, 9)
Sellers: (3095, 4)
Opp: (359918, 26)

In [7]:
print("HEAD (first 5 rows):")
print(orders.head())

print("\nCOLUMNS:")
print(list(orders.columns))

print("\nINFO:")
orders.info()

print("\nMISSING VALUES:")
print(orders.isnull().sum())

print("\nDUPLICATE ROWS:")
print(orders.duplicated().sum())

HEAD (first 5 rows):
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

COLUMNS:
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

MISSING VALUES:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

DUPLICATE ROWS:
0

In [8]:


print("HEAD (first 5 rows):")
print(customers.head())

print("\nCOLUMNS:")
print(list(customers.columns))

print("\nINFO:")
customers.info()

print("\nMISSING VALUES:")
print(customers.isnull().sum())

print("\nDUPLICATE ROWS:")
print(customers.duplicated().sum())

HEAD (first 5 rows):
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

COLUMNS:
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

MISSING VALUES:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

DUPLICATE ROWS:
0

In [9]:
print("HEAD (first 5 rows):")
print(items.head())

print("\nCOLUMNS:")
print(list(items.columns))

print("\nINFO:")
items.info()

print("\nMISSING VALUES:")
print(items.isnull().sum())

print("\nDUPLICATE ROWS:")
print(items.duplicated().sum())

HEAD (first 5 rows):
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

COLUMNS:
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

MISSING VALUES:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

DUPLICATE ROWS:
0

In [10]:
print("HEAD (first 5 rows):")
print(payments.head())

print("\nCOLUMNS:")
print(list(payments.columns))

print("\nINFO:")
payments.info()

print("\nMISSING VALUES:")
print(payments.isnull().sum())

print("\nDUPLICATE ROWS:")
print(payments.duplicated().sum())

HEAD (first 5 rows):
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

COLUMNS:
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

MISSING VALUES:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

DUPLICATE ROWS:
0

In [11]:
print("HEAD (first 5 rows):")
print(reviews.head())

print("\nCOLUMNS:")
print(list(reviews.columns))

print("\nINFO:")
reviews.info()

print("\nMISSING VALUES:")
print(reviews.isnull().sum())

print("\nDUPLICATE ROWS:")
print(reviews.duplicated().sum())

HEAD (first 5 rows):
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

COLUMNS:
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

MISSING VALUES:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

DUPLICATE ROWS:
0

In [12]:
print("HEAD (first 5 rows):")
print(products.head())

print("\nCOLUMNS:")
print(list(products.columns))

print("\nINFO:")
products.info()

print("\nMISSING VALUES:")
print(products.isnull().sum())

print("\nDUPLICATE ROWS:")
print(products.duplicated().sum())

HEAD (first 5 rows):
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

COLUMNS:
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

MISSING VALUES:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

DUPLICATE ROWS:
0

In [13]:
print("HEAD (first 5 rows):")
print(sellers.head())

print("\nCOLUMNS:")
print(list(sellers.columns))

print("\nINFO:")
sellers.info()

print("\nMISSING VALUES:")
print(sellers.isnull().sum())

print("\nDUPLICATE ROWS:")
print(sellers.duplicated().sum())

HEAD (first 5 rows):
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

COLUMNS:
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

MISSING VALUES:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

DUPLICATE ROWS:
0

In [14]:
print("HEAD (first 5 rows):")
print(opp.head())

print("COLUMNS:")
print(list(opp.columns))   

print("INFO:")
opp.info()  

print("MISSING VALUES:")
print(opp.isnull().sum())

print("DUPLICATE ROWS:")
print(opp.duplicated().sum())

HEAD (first 5 rows):
   Unnamed: 0.1  Unnamed: 0          account_id                   opp_owner  \
0             0           0  0015c00001xogENAAY  Eats Opportunity Graveyard
1             1           1  0015c00002tUWR4AAO            Mohamed Lamrabet
2             2           2  0015c00002wGFLoAAO             Benjamin Stager
3             3           3  0015c00002o5vOyAAI           Ahmed Amine Zaibi
4             4           4  0015c00002tXDAxAAO               Lars Imkeller

                                        account_name      opportunity_id  \
0                                          Sushi Mix  0065c00000yF5iiAAC
1                                 SameSame Thai Food  0065c00001SMM3EAAX
2                                     Eis&Cafe aRoma  0065c00001SBJkfAAH
3  Pop Taï - Bao Burger & Fried Chicken - Carbon-...  0065c00001QMBouAAH
4              Istanbul Doner Kebab (Istanbul Döner)  0065c00001SAifuAAD

                                    oppurtunity_name       stage   closedate  \
0            Sushi Mix - Nancy - New Business - 4/15  Closed Won  2022-05-06
1  SameSame Thai Food - Brussels - New Business -...  Closed Won  2024-10-28
2    Eis&Cafe aRoma - Frankfurt - New Business - 3/9  Closed Won  2025-04-16
3  Pop Taï - Bao Burger & Fried Chicken - Carbon-...  Closed Won  2024-05-22
4  Istanbul Doner Kebab (Istanbul Döner) - Frankf...  Closed Won  2025-03-25

           createddate  ... is_subscription_pricing is_tablet is_printer  \
0  2022-04-05 15:53:05  ...                       1         1          0
1  2024-09-24 05:31:16  ...                       1         0          1
2  2025-02-27 09:17:08  ...                       0         0          0
3  2024-05-16 10:34:52  ...                       1         0          0
4  2025-01-17 13:22:40  ...                       0         0          0

   is_webRD  is_potluck       mailing_city  segment      BYOD  closed_week  \
0         0           0            Messein      SMB  Non-BYOD   2022-05-02
1         0           0          Bruxelles      SMB  Non-BYOD   2024-10-28
2         0           0  Frankfurt am Main      SMB  Non-BYOD   2025-04-14
3         0           1       Carbon-Blanc      SMB      BYOD   2024-05-20
4         0           0          Darmstadt      SMB  Non-BYOD   2025-03-24

   fiscal_period
0        2022-Q2
1        2024-Q4
2        2025-Q2
3        2024-Q2
4        2025-Q1

[5 rows x 26 columns]
COLUMNS:
['Unnamed: 0.1', 'Unnamed: 0', 'account_id', 'opp_owner', 'account_name', 'opportunity_id', 'oppurtunity_name', 'stage', 'closedate', 'createddate', 'leadsource', 'type', 'service_country', 'activation_fee', 'subscription_fee', 'is_activation_fee', 'is_subscription_pricing', 'is_tablet', 'is_printer', 'is_webRD', 'is_potluck', 'mailing_city', 'segment', 'BYOD', 'closed_week', 'fiscal_period']
INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359918 entries, 0 to 359917
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0.1             359918 non-null  int64
 1   Unnamed: 0               359918 non-null  int64
 2   account_id               262752 non-null  object
 3   opp_owner                359918 non-null  object
 4   account_name             359918 non-null  object
 5   opportunity_id           359918 non-null  object
 6   oppurtunity_name         359918 non-null  object
 7   stage                    359918 non-null  object
 8   closedate                359918 non-null  object
 9   createddate              359918 non-null  object
 10  leadsource               345512 non-null  object
 11  type                     359918 non-null  object
 12  service_country          359918 non-null  object
 13  activation_fee           359918 non-null  float64
 14  subscription_fee         359918 non-null  float64
 15  is_activation_fee        359918 non-null  int64
 16  is_subscription_pricing  359918 non-null  int64
 17  is_tablet                359918 non-null  int64
 18  is_printer               359918 non-null  int64
 19  is_webRD                 359918 non-null  int64
 20  is_potluck               359918 non-null  int64
 21  mailing_city             359596 non-null  object
 22  segment                  262703 non-null  object
 23  BYOD                     359918 non-null  object
 24  closed_week              359918 non-null  object
 25  fiscal_period            359918 non-null  object
dtypes: float64(2), int64(8), object(16)
memory usage: 71.4+ MB
MISSING VALUES:
Unnamed: 0.1                   0
Unnamed: 0                     0
account_id                 97166
opp_owner                      0
account_name                   0
opportunity_id                 0
oppurtunity_name               0
stage                          0
closedate                      0
createddate                    0
leadsource                 14406
type                           0
service_country                0
activation_fee                 0
subscription_fee               0
is_activation_fee              0
is_subscription_pricing        0
is_tablet                      0
is_printer                     0
is_webRD                       0
is_potluck                     0
mailing_city                 322
segment                    97215
BYOD                           0
closed_week                    0
fiscal_period                  0
dtype: int64
DUPLICATE ROWS:
0

# PHASE 2 — DATA CLEANING

In [15]:


orders = orders.drop_duplicates()

print("Duplicates after removal:", orders.duplicated().sum())

Duplicates after removal: 0

In [16]:

date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in date_cols:
    orders[col] = pd.to_datetime(orders[col])

In [17]:

orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [18]:
# Total delivery time (purchase → delivered)

orders["delivery_days"] = (
    orders["order_delivered_customer_date"]
    - orders["order_purchase_timestamp"]
).dt.days

# Delay compared to estimated date

orders["delay_days"] = (
    orders["order_delivered_customer_date"]
    - orders["order_estimated_delivery_date"]
).dt.days

In [19]:
# Replace NaN with 0

orders["delivery_days"] = orders["delivery_days"].fillna(0)
orders["delay_days"] = orders["delay_days"].fillna(0)

In [20]:


customers = customers.drop_duplicates()

customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [21]:


items = items.drop_duplicates()

items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [22]:


payments = payments.drop_duplicates()

payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [23]:


reviews = reviews.drop_duplicates()

reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [24]:


products = products.drop_duplicates()

products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [25]:
sellers = sellers.drop_duplicates()

sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [26]:


opp = opp.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

In [27]:
opp = opp.drop_duplicates()
opp.isnull().sum()

account_id                 97166
opp_owner                      0
account_name                   0
opportunity_id                 0
oppurtunity_name               0
stage                          0
closedate                      0
createddate                    0
leadsource                 14406
type                           0
service_country                0
activation_fee                 0
subscription_fee               0
is_activation_fee              0
is_subscription_pricing        0
is_tablet                      0
is_printer                     0
is_webRD                       0
is_potluck                     0
mailing_city                 322
segment                    97215
BYOD                           0
closed_week                    0
fiscal_period                  0
dtype: int64

In [28]:
opp["closedate"] = pd.to_datetime(opp["closedate"])
opp["createddate"] = pd.to_datetime(opp["createddate"])

In [29]:
orders = orders[[
    "order_id",                     # Unique order identifier (primary key)
    "customer_id",                  # Links to customers table
    "order_status",                 # Delivered, cancelled, etc.
    "order_purchase_timestamp",     # When order was placed
    "order_delivered_customer_date",# Actual delivery date
    "order_estimated_delivery_date",# Promised delivery date
    "delivery_days",                # Total delivery time (created earlier)
    "delay_days"                    # Delay vs estimated date
]]

In [30]:
customers = customers[[
    "customer_id",      # Primary key to link with orders
    "customer_city",    # Customer city (geographic feature)
    "customer_state"    # Customer state
]]

In [31]:

items = items[[
    "order_id",        # Links to orders
    "product_id",      # Links to products table
    "seller_id",       # Links to sellers table
    "price",           # Item price
    "freight_value"    # Shipping cost
]]

In [32]:


payments = payments[[
    "order_id",              # Links to orders
    "payment_type",          # Credit card, boleto, etc.
    "payment_installments",  # Number of installments
    "payment_value"          # Amount paid
]]

In [33]:

reviews = reviews[[
    "order_id",     # Links to orders
    "review_score"  # Rating (1–5)
]]

In [34]:


products = products[[
    "product_id",             # Primary key
    "product_category_name",  # Product category
    "product_weight_g",       # Weight (affects freight)
    "product_length_cm",      # Dimensions
    "product_height_cm",
    "product_width_cm"
]]

In [35]:

sellers = sellers[[
    "seller_id",     # Primary key
    "seller_city",   # Seller location
    "seller_state"
]]

In [36]:

opp = opp[[
    "opportunity_id",  # Unique deal ID
    "stage",           # Deal stage (e.g., Closed Won)
    "service_country", # Country
    "activation_fee",  # One-time fee
    "subscription_fee",# Recurring fee
    "segment",         # Customer segment
    "BYOD"             # Device type indicator
]]

# PHASE 3 — DATA INTEGRATION

In [37]:


items_agg = items.groupby("order_id").agg(

    total_item_value=("price", "sum"),  


    total_freight_value=("freight_value", "sum"),  


    num_items=("price", "count"),  
 

    num_sellers=("seller_id", "nunique")  


).reset_index()

In [38]:


payments_agg = payments.groupby("order_id").agg(

    total_payment=("payment_value", "sum"),  


    max_installments=("payment_installments", "max")  


).reset_index()

In [39]:
payments_agg = payments.groupby("order_id").agg(

    total_payment=("payment_value", "sum"),  
 

    max_installments=("payment_installments", "max")  


).reset_index()

In [40]:


reviews_agg = reviews.groupby("order_id").agg(

    avg_review_score=("review_score", "mean")  
).reset_index()

In [41]:


df = orders.merge(customers, on="customer_id", how="left")

In [42]:


df = df.merge(items_agg, on="order_id", how="left")

In [43]:

df = df.merge(payments_agg, on="order_id", how="left")

In [44]:

df = df.merge(reviews_agg, on="order_id", how="left")

In [45]:


print("Final dataset shape:", df.shape) 
df.head()

Final dataset shape: (99441, 17)

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,delivery_days,delay_days,customer_city,customer_state,total_item_value,total_freight_value,num_items,num_sellers,total_payment,max_installments,avg_review_score
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18,8.0,-8.0,sao paulo,SP,29.99,8.72,1.0,1.0,38.71,1.0,4.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13,13.0,-6.0,barreiras,BA,118.70,22.76,1.0,1.0,141.46,1.0,4.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04,9.0,-18.0,vianopolis,GO,159.90,19.22,1.0,1.0,179.12,3.0,5.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,2017-12-15,13.0,-13.0,sao goncalo do amarante,RN,45.00,27.20,1.0,1.0,72.20,1.0,5.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,2018-02-26,2.0,-10.0,santo andre,SP,19.90,8.72,1.0,1.0,28.62,1.0,5.0

In [46]:
print(df.columns)

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'delivery_days', 'delay_days', 'customer_city', 'customer_state',
       'total_item_value', 'total_freight_value', 'num_items', 'num_sellers',
       'total_payment', 'max_installments', 'avg_review_score'],
      dtype='object')

# PHASE 4 — Feature Engineering

In [47]:
print("No of days taken to deliver the order : orderid and days taken to deliver")
print(df["delivery_days"].head(5))

No of days taken to deliver the order : orderid and days taken to deliver
0     8.0
1    13.0
2     9.0
3    13.0
4     2.0
Name: delivery_days, dtype: float64

In [48]:
print("Orderid    Delay in delivery(-ve values means early delivery +ver values late deliver 0 means on time delivery)")
print(df["delay_days"].head(60))

Orderid    Delay in delivery(-ve values means early delivery +ver values late deliver 0 means on time delivery)
0     -8.0
1     -6.0
2    -18.0
3    -13.0
4    -10.0
5     -6.0
6      0.0
7    -12.0
8    -32.0
9     -7.0
10    -9.0
11   -20.0
12   -29.0
13    -9.0
14    -9.0
15   -13.0
16   -17.0
17   -21.0
18   -14.0
19   -15.0
20    11.0
21   -10.0
22   -13.0
23   -26.0
24    -4.0
25     9.0
26   -32.0
27    -7.0
28    -7.0
29   -17.0
30    -5.0
31   -10.0
32    -5.0
33   -13.0
34    -6.0
35     0.0
36   -16.0
37   -14.0
38   -29.0
39    -7.0
40   -12.0
41     7.0
42   -20.0
43   -31.0
44     0.0
45   -11.0
46   -18.0
47    -4.0
48   -11.0
49   -15.0
50    -9.0
51   -17.0
52   -16.0
53   -13.0
54   -16.0
55   -27.0
56   -21.0
57     1.0
58     7.0
59   -17.0
Name: delay_days, dtype: float64

In [49]:
df["total_order_value"] = (
    df["total_item_value"] + df["total_freight_value"]
)

print("\nTotal Order Value created:")
print(df["total_order_value"].head())

Total Order Value created:
0     38.71
1    141.46
2    179.12
3     72.20
4     28.62
Name: total_order_value, dtype: float64

In [50]:
df["freight_ratio"] = (
    df["total_freight_value"] / df["total_item_value"]
)

print("order id and percent of price for shipping( ex: 0.2 = 20% for shipping or delivery cost)")
print(df["freight_ratio"].head())

order id and percent of price for shipping( ex: 0.2 = 20% for shipping or delivery cost)
0    0.290764
1    0.191744
2    0.120200
3    0.604444
4    0.438191
Name: freight_ratio, dtype: float64

In [51]:
print("\order id   no of items")
print(df["num_items"].head())

\order id   no of items
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: num_items, dtype: float64

In [52]:
print("\nUnique values in num_items:")
print(df["num_items"].unique())

Unique values in num_items:
[ 1.  2.  4.  5.  3.  6. nan  7. 12.  8. 11.  9. 14. 15. 13. 10. 20. 21.]

In [53]:
print("orderid.  no of sellers")
print(df["num_sellers"].head())

orderid.  no of sellers
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: num_sellers, dtype: float64

In [54]:
print("\nNumber of Sellers — sample:")
print(df["num_sellers"].unique())

Number of Sellers — sample:
[ 1.  2. nan  3.  4.  5.]

In [55]:
df["installment_per_value"] = (
    df["max_installments"] / df["total_order_value"]
)

print("\nInstallment per order id  created:")
print(df["installment_per_value"].head())

Installment per order id  created:
0    0.025833
1    0.007069
2    0.016749
3    0.013850
4    0.034941
Name: installment_per_value, dtype: float64

In [56]:
df["is_SP_customer"] = (df["customer_state"] == "SP").astype(int)

print("\nSP Customer Flag created:")
print(df["is_SP_customer"].head())

SP Customer Flag created:
0    1
1    0
2    0
3    0
4    1
Name: is_SP_customer, dtype: int64

In [57]:
df["avg_review_score"] = df["avg_review_score"].fillna(3)

print("\nReview Score after filling missing values:")
print(df["avg_review_score"].head())

Review Score after filling missing values:
0    4.0
1    4.0
2    5.0
3    5.0
4    5.0
Name: avg_review_score, dtype: float64

In [58]:
df["is_late"] = (df["delay_days"] > 0).astype(int)

print("\nLate Delivery Flag created:")
print(df["is_late"].head())
print("1 → Delivered late  0 → On time or early")

Late Delivery Flag created:
0    0
1    0
2    0
3    0
4    0
Name: is_late, dtype: int64
1 → Delivered late  0 → On time or early

In [59]:
print(df["is_late"].unique())

[0 1]

In [60]:
df["not_delivered"] = (
    df["order_status"] != "delivered"
).astype(int)

print("\nNot Delivered Flag created:")
print(df["not_delivered"].head())
print(df["not_delivered"].unique())
print("If order_status != 'delivered' → 1 If order_status == 'delivered' → 0")

Not Delivered Flag created:
0    0
1    0
2    0
3    0
4    0
Name: not_delivered, dtype: int64
[0 1]
If order_status != 'delivered' → 1 If order_status == 'delivered' → 0

In [61]:
print("\nFinal dataset shape:", df.shape)
print("\nFinal columns:")
print(list(df.columns))

Final dataset shape: (99441, 23)

Final columns:
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'delivery_days', 'delay_days', 'customer_city', 'customer_state', 'total_item_value', 'total_freight_value', 'num_items', 'num_sellers', 'total_payment', 'max_installments', 'avg_review_score', 'total_order_value', 'freight_ratio', 'installment_per_value', 'is_SP_customer', 'is_late', 'not_delivered']

# PHASE 5 — Target Creation

In [62]:


df["leakage_risk"] = (
    
    (df["is_late"] == 1) |                     # Delivered late
    
    (df["freight_ratio"] > 0.5) |              # Very high shipping cost
    
    (df["avg_review_score"] <= 2) |            # Poor rating
    
    (df["not_delivered"] == 1) |               # Cancelled / not delivered
    
    (df["max_installments"] >= 6)              # Heavy installment usage
    
).astype(int)

In [63]:
print("\nLeakage Risk created:")
print(df["leakage_risk"].head(30))

Leakage Risk created:
0     0
1     0
2     0
3     1
4     0
5     1
6     1
7     0
8     1
9     0
10    1
11    0
12    1
13    1
14    0
15    1
16    1
17    1
18    1
19    0
20    1
21    0
22    1
23    0
24    0
25    1
26    1
27    0
28    1
29    1
Name: leakage_risk, dtype: int64

In [64]:
print("\nLeakage Risk counts:")
print(df["leakage_risk"].value_counts())

Leakage Risk counts:
0    56653
1    42788
Name: leakage_risk, dtype: int64

# PHASE 6 — MODEL BUILDING

In [65]:
print(df.isnull().sum())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_delivered_customer_date    2965
order_estimated_delivery_date       0
delivery_days                       0
delay_days                          0
customer_city                       0
customer_state                      0
total_item_value                  775
total_freight_value               775
num_items                         775
num_sellers                       775
total_payment                       1
max_installments                    1
avg_review_score                    0
total_order_value                 775
freight_ratio                     775
installment_per_value             776
is_SP_customer                      0
is_late                             0
not_delivered                       0
leakage_risk                        0
dtype: int64

In [66]:
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
df[num_cols] = df[num_cols].fillna(0)

In [67]:
cat_cols = df.select_dtypes(include=["object"]).columns
df[cat_cols] = df[cat_cols].fillna("Unknown")

In [ ]:
cat_cols = list(df.select_dtypes(include=["object"]).columns)

if cat_cols:
    df = pd.get_dummies(df, columns=cat_cols, drop_first=True)
else:
    print("No categorical columns to encode")

In [ ]:
datetime_cols = df.select_dtypes(include=["datetime64"]).columns
df = df.drop(columns=datetime_cols)

In [ ]:
cols_to_drop = ["order_id", "customer_id", "seller_id", "product_id"]

existing = [c for c in cols_to_drop if c in df.columns]

df = df.drop(columns=existing)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

features_to_scale = df.select_dtypes(include=["int64", "float64"]).columns.drop("leakage_risk")

df[features_to_scale] = scaler.fit_transform(df[features_to_scale])

In [ ]:
print(df.shape)
print(df.dtypes.value_counts())
print(df.isnull().sum().sum())

In [ ]:
y = df["leakage_risk"]

In [ ]:
X = df.drop(columns=["leakage_risk"])

# PHASE 7 — MODELING

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,      # 20% for testing
    random_state=42,    # Reproducible results
    stratify=y          # Preserve class balance
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression(max_iter=1000)

log_model.fit(X_train, y_train)

print("Logistic Regression trained ✔")

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

rf_model.fit(X_train, y_train)

print("Random Forest trained ✔")

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gb_model = GradientBoostingClassifier(random_state=42)

gb_model.fit(X_train, y_train)

print("Gradient Boosting trained ✔")

# PHASE 8 — EVALUATION

In [ ]:
y_pred_log = log_model.predict(X_test)   # Logistic Regression predictions
y_pred_rf  = rf_model.predict(X_test)    # Random Forest predictions
y_pred_gb  = gb_model.predict(X_test)    # Gradient Boosting predictions

In [ ]:
from sklearn.metrics import accuracy_score

print("Logistic Accuracy:", accuracy_score(y_test, y_pred_log))
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Gradient Boosting Accuracy:", accuracy_score(y_test, y_pred_gb))

In [ ]:
from sklearn.metrics import classification_report

print("\n--- Logistic Regression ---")
print(classification_report(y_test, y_pred_log))

print("\n--- Random Forest ---")
print(classification_report(y_test, y_pred_rf))

print("\n--- Gradient Boosting ---")
print(classification_report(y_test, y_pred_gb))

In [ ]:
from sklearn.metrics import confusion_matrix

print("\nLogistic Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_log))

print("\nRandom Forest Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))

print("\nGradient Boosting Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_gb))

# PHASE 9 — INSIGHTS & DRIVERS (Feature Importance)

In [ ]:
import pandas as pd

importances = rf_model.feature_importances_

feature_importance_df = pd.DataFrame({
    "Feature": X.columns,
    "Importance": importances
}).sort_values(by="Importance", ascending=False)

print("\nTop Important Features:")
print(feature_importance_df.head(15))

In [ ]:
import matplotlib.pyplot as plt

top_features = feature_importance_df.head(10)

plt.figure(figsize=(8, 5))

plt.barh(top_features["Feature"], top_features["Importance"])

plt.title("Top Drivers of Revenue Leakage Risk")

plt.xlabel("Importance")

plt.gca().invert_yaxis()

plt.show()